body{
	margin-top: 30px;
}

html{
	padding: 20px;
}

h2{
	border-bottom: 1px solid #2BA6CB;
}

#logo{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	letter-spacing: -1px;
	color: #222222;
	float: left;
}

.graph-control{
	float: right;
}

nav ul {
	font-weight: bold;
	color: #222222;
	list-style: none outside;
}

.version{
	float: right;
}

ul{
	list-style: none;
}

.name{
	cursor: pointer;
}
