{% extends "layout.html" %}
{% block body %}
<dl class="tabs">
  <dd class="active"><a href="#table-tab">Data</a></dd>
  <dd><a href="#plot-tab">Plot</a></dd>
</dl>

<ul class="tabs-content">
  <li class="active" id="table-tabTab"><div id="log-table"></div></li>
  <li id="plot-tabTab">
    <div class="row">
        <div class="twelve columns">
            <button id='subtract-plot' class="button radius small graph-control">-</button>
            <button id='add-plot' class="button radius small graph-control">+</button>
        </div>
    </div>
    <div class="row">
        <div id="plotholder" class="twelve columns"></div>
        </div>
    </li>
</ul>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
var log_data = {{ output|tojson|safe }};
</script>

<script type="text/javascript">
$(function () {
    $("#log-table").append(jsonToTable(log_data));
    plotJson(log_data, document.getElementById('plotholder'));
});
</script>

<script src="{{ url_for('static', filename='javascripts/jquery.flot.min.js') }}"></script>
<script src="{{ url_for('static', filename='javascripts/jquery.flot.resize.min.js') }}"></script>
{% endblock %}
